.git
.DS_Store
.env
.venv
.venv*
__pycache__
*.py[cod]

app
listener/auth_info
listener/latest-qr.png
listener/node_modules
node_modules
ios
android
out

instagram-cookies.txt
www.instagram.com_cookies.txt
reels.txt
results.json
